.dashboard {
    display: grid;
    grid-template-columns: 15% 85%;
    height: 100vh;
}

.dash-main {
    background-color: #F3F4F6;
    overflow: scroll;
}

.dash-side {

}
.dash-main h1 {
    margin: 5rem;
}

.thumb-list {
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
}
