#loginCont{
    align-items: center;
    background-color: #2A5555;
    height: 100vh;
    overflow: scroll;
}

/*.sign-in-box{*/
/*    background-color: rgb(181, 195, 207);*/
/*    margin: 50px;*/
/*    padding: 40px;*/
/*}*/

/*#sign-in{*/
/*    padding: 0px;*/
/*    margin: 0px;*/
/*}*/

/*#email, #pass{*/
/*    background-color: white;*/
/*    border-radius: 4px*/
/*}*/

/*#sign-in-button{*/
/*    background-color: rgb(21, 82, 126);*/
/*    color: white;*/
/*}*/

