.thumbnail {
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    margin: 2rem;
    width: 200px;
}

.thumbnail .form-title {
    color: #6E92B4;
    font-size: 18px;
    font-weight: 500;
}

.progress-cont {
    width: 100%;
    display: grid;
    grid-template-columns: 85% 15%;
    align-items: center;

}

.progress-cont .MuiLinearProgress-barColorPrimary {
    background-color: #6E92B4 !important;
}

.dash-results {
    font-family: "DM Sans", sans-serif !important;
    text-transform: none !important;
    background-color: #E0E8EF !important;
    border-radius: 10px !important;
    padding: 2px 15px !important;
    color: #6E92B4 !important;
}
