.nav {
    background-color: #2F8886;
    height: 8vh;
    position: fixed;
    width: 100%;
    z-index: 2;
}

.nav h2 {
    font-weight: 400;
    color: white;
    font-size: 32px;
    font-family: "DM Serif Text", serif;
}

